<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MSF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>multiscreen-demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A67BB941A66B9660045510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A67BBA91A66B9660045510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A67BC0E1A685FAE0045510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A67BC181A685FAE0045510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
